.base {
    border-bottom: 1px solid #bfbfbf;
}

.base .container-head {
    display: flex;
    padding: 10px;
}

.navbar {
    padding: 0px;
}

.navbar-body {
    display: flex;
    color: #027ef8;
    font-size: 13px;
    /* height: 30px; */
}

.logo {
    width: 180px;
    margin-top: 4px;
}

.logo-container {
    /* padding: 5px; */
    margin-right: 60px;
}

.navbar .nav-elements {
    margin-right: 6px;
    margin-left: 6px;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
    padding: 6px;
    border: 1px solid #ffffff;
}

.navbar .nav-elements-active {
    margin-right: 6px;
    margin-left: 6px;
    font-weight: 600;
    cursor: pointer;
    padding: 6px;
    background-color: #027ef8;
    color: #ffffff;
    border: 1px solid #027ef8;
    border-radius: 6px;
}

.nav-elements:hover {
    background-color: #027ef8;
    color: #ffffff;
    border: 1px solid #027ef8;
    border-radius: 6px;
}

.nav-popper-elements {
    display: block;
    padding: 4px;
    background-color: #ffffff;
    color: #027ef8;
}

.nav-popper-elements:hover {
    background-color: #027ef8;
    color: #ffffff;
}

@media screen and (max-width: 1000px) {
    .navbar-body {
        display: none;
    }
}

@media screen and (max-width: 1190px) {
    .navbar-body {
        display: none;
    }
}